/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral do site */
body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  background-color: #c4d1ee;
  color: #0a0a0a;
  padding: 10px;
}

/* Cabeçalho do site */
.cabeçalho {
  background-color: #38518f;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.links-secoes {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.links-secoes a {
  color: white;
  text-decoration: none; /* tira o sublinhado */
  font-weight: bold;
}

.foto {
  margin-top: 40px; /* aumenta ou diminui conforme desejar */
  text-align: center; /* mantém tudo centralizado */
}

/* Estilo da imagem */
.foto img {
  display: block;           /* transforma a imagem em um bloco */
  margin: 0 auto 20px auto; /* centraliza horizontalmente */
  width: 180px;             /* tamanho fixo */
  height: 180px;            /* garante que fique proporcional */
  border-radius: 50%;       /* deixa a imagem circular */
  object-fit: cover;        /* ajusta a imagem dentro do círculo */
  border: 3px solid #2c3e50; /* opcional: borda para destacar */
}

/* Dá espaço entre o cabeçalho e a foto */
.objetivo {
  margin-top: 40px;  /* aumenta ou diminui conforme desejar */
  text-align: center;  /* mantém tudo centralizado */
  background-color: #f4f6f7;  /* cor de fundo */
  padding: 20px;           /* espaço interno da caixa */
  border-radius: 10px;     /* cantos arredondados */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* sombra opcional para destaque */
}

/* Meu objetivo */
.objetivo p {
  max-width: 1500px; /* limita a largura do texto */
  margin: 0 auto;   /* centraliza o texto */
  text-align: justify; /* justifica o texto */
  font-size: 18px; /* tamanho da fonte */
  color: #000000; /* cor do texto */

}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 2em;
  }

  
  .brand-logo {
    display: block;
    margin: 10px auto;
    max-width: 200px;
  }
}

